body {

	background: grey;

	font-family: Helvetica, sans-serif;
}



h1 {

	text-align: center;

}



hr {

	width: 50%;

}



#link {

	background: white;

	display: block;

	margin-left: auto;

	margin-right: auto;

	width: 820px;

	padding: 5px 20px;

	border-radius: 15px;

	box-shadow: -5px 5px 10px #444;

	text-align: center;

}



.rupee {

	display: inline-block;

	opacity: 0.5;

}



img {

	width: 200px;

	height: 300px;

}
